@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');
:root{
    --main-bg-color:brown;
    --font1:'Baloo Bhaina 2',cursive;
    --font2:'Roboto',sans-serif;
}

* {
    padding: 0px;
    margin: 0px;

}

.flex-div {
    display: flex;
    align-items: center;

}

nav {

    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.leftnav img {
    width: 40px;
    height: 40px;
}

.leftnav .menu {
    width: 30px;
    margin-right: 25px;
}

.leftnav h1 {
    font-style: italic;
}

.rightnav img {
    width: 26px;
}

.middlenav .search-box .search {
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}


.middlenav .search-box .search input {
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 20px;
}

.middlenav .search-box .search img {
    width: 25px;
}
 .result ul li{
    list-style: none;
    border-radius: 3px;
    /* padding: 15px 10px; */
    cursor: pointer;
    /* padding-left: 400px;
    padding-top: ; */
}
 .result ul li:hover{
    background-color: #e9f3ff;

}


.sidebar img {
    width: 60px;
}

.sidebar a {
    text-decoration: none;
    color: #625b5b;
    font-style: italic;
    font-weight: bolder;
}

.sidebar {

    background: #fff;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
}

.shorcut-link a img {
    width: 35px;
    margin-right: 20px;
}

.shorcut-link a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    color: #ed3833;
}

.sidebar hr {
    border: 0px;
    height: 1px;
    background: #ccc;
    width: 85%;
}

.back button {
    color: #fff;
    width: 100px;
    height: 50px;
    font-size: 16px;
    font-weight: bolder;
    border: 2px solid;
    border-radius: 25px;
    background: all 0.2s ease;
    background-color: #55a5d3;
}

.back button:active {
    transform: scale(0.96);
}

.back {
    padding-top: 150px;
}

/* .back button{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
}
.back button:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan ,0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
} */
.small-sidebar {
    width: 15%;
}

.small-sidebar a p {
    display: none;
}

.small-sidebar h3 {
    display: none;
}

.small-sidebar hr {
    width: 50%;
    margin-bottom: 25px;
}

.container {
    background: #f9f9f9;
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;

}

.banner {
    width: 100%;
    position: relative;

}

.banner img {
    width: 100%;
    height: 550px;
    border-radius: 8px;

}

.banner .text {
    position: absolute;
    top: 25%;
    color: #ce1111;
    padding: 10px;
    padding-left: 600px;
    font-size: 40px;
    font-style: italic;
    font-family: var(--font1);
}

iframe {
    width: 250px;
    height: 200px;
    margin: 8px;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

.video {
    padding-left: 300px;
}