@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css')
*>*{
    font-family:'poppins' sans-serif;
}
:root{
    --color-dark:#151c35;
    --color-secondary-dark:#464c70;
    --color-primary:#EE109D;
    --color-text:#8297E2;
    --color-light:#EBEBFB;
}
.container{
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.board{
    max-width: 987px;
    width: 100%;
    background-color: var(--color-dark);
    text-align: center;
    padding: 4em 0;
}
.text-light{
    color: var(--color-light);
}
.swiper {
    width: 600px;
    height: 300px;
}
.swiper.swiper-slide.flex{
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.swiper.swiper-slide.comments{
    background-color: var(--color-light);
    padding: 1.5em 2em;
    width: 50%;
    border-radius: 5px;
    font-size: 9em;
    position: relative;
}



